@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
  }
  
  $base-color: grey;
  $pr: 1%;
  
  body {
      background-color: $base-color;
  }
  
  .words {
      z-index: 2;
  }
  
  .box {
      position: fixed;
      top: 0;
      transform: rotate(80deg);
      left: 0;
      height: 100vh;
      width: 100%;
  }
  
  .wave {
      position: fixed;
      top: 0;
      left: 0;
      opacity: .4;
      position: absolute;
      top: 3%;
      left: 10%;
      width: 70%;
      height: 100%;
      margin-left: -100px;
      margin-top: -200px;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 7000ms infinite linear;
  }
  
  .box:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  $max: 3;
  @for $i from 1 through $max {
      $bgColor: lighten($base-color, (randomNum(2,70) * $pr));
      $size: randomNum(100,300);
      .wave:nth-child(#{$i}) {
          animation: drift randomNum(3500,7000)+ms infinite linear;
          background-color: $bgColor;
          transform-origin: 50% (randomNum(40,60) * $pr);
          border-radius: (randomNum(45,55) * $pr);
      }
  }
  